@{
    ViewData["Title"] = "Home Page";
}

<div class="row"></div>
<div class="row">
    <div class="row col-xs-3">
        <div class="panel panel-info">
            <div class="panel-body panel-info">
                <div class="list-group link-list">
                    <a href="#" class="list-group-item list-group-item-info">Home page</a>
                    <a href="#" class="list-group-item list-group-item-info">Messages</a>
                    <a href="#" class="list-group-item list-group-item-info">Photos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-8 col-xs-offset-1">
        <div class="panel panel-info">
            <div class="panel-body panel-info">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="~/images/father.jpg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-8">
                        <h3>Sergey Jakimov</h3>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
